[user]
    email = ken5112840801@gmail.com
    name = noreason
[color]
    ui = auto
[color "diff"]
    meta = cyan
[status]
    showUntrackedFiles = no
[alias]
    b = "branch"
    co = "checkout"
    logg = "log --graph --decorate --stat"
    logga = "log --graph --decorate --stat --all"
    st = "status"
    re = "restore"
    sw = "switch"
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
