[user]
    email = ken5112840801@gmail.com
    name = KenH
[color]
    ui = auto
[color "diff"]
    meta = cyan
[status]
    showUntrackedFiles = no
[pull]
    rebase = false
[alias]
    b = "branch"
    co = "checkout"
    logg = "log --graph --decorate --stat"
    logga = "log --graph --decorate --stat --all"
    st = "status"
    re = "restore"
    sw = "switch"
    ref-all = "logga $(git rev-list -g --all)"
    gc-now = "git -c gc.reflogExpire=0 -c gc.reflogExpireUnreachable=0 -c gc.rerereresolved=0 -c gc.rerereunresolved=0 -c gc.pruneExpire=now gc"
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
